.Libreria
{
    width: 40%;
    height: auto;
    margin-top: 1rem;
    margin-right: 1rem;
    align-items: center;
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
}

.Libreria h3
{
    margin-bottom: 5vmin;
}